#################################################################
## Presence
#################################################################

#################################################################
## Security System
#################################################################
- alias: 'Intrusione'
  initial_state: False
  hide_entity: False

  trigger:
    - platform: state
      entity_id: 'binary_sensor.fibaro_system_fgms001_motion_sensor_sensor'
      from: 'off'
      to: 'on'
  condition:
    - condition: state
      entity_id: 'device_tracker.oneplus_gio'
      state: 'not_home'
  action:
    - service: notify.telegram
      data:
        message: "Ho rilevato una presenza nella camera di Andrea mentre eri fuori casa!"
        title: "SICUREZZA-nmap:"
    - service: switch.turn_on
      entity_id: 'switch.greenwave_powernode_6_port_switch_6'

# Accende l'abatjour, se il sole è già tramontato e viene rilevata presenza in Salone
- alias: 'Abatjour automatica'
  initial_state: False
  hide_entity: False

  trigger:
    - platform: state
      entity_id: binary_sensor.fibaro_system_fgms001_motion_sensor_sensor_4_0
      from: 'off'
      to: 'on'
  condition:
    - condition: state
      entity_id: 'sun.sun'
      state: 'below_horizon'
  action:
    - service: switch.turn_on
      entity_id: 'switch.greenwave_powernode_6_port_switch_6'

#################################################################
## HASS Related
#################################################################


#################################################################
## Home Automation Related
#################################################################

#################################################################
## Parental Control Related
#################################################################

# TV ########################
- alias: tv salone limit
  trigger:
    - platform: state
      entity_id: input_number.tv_minutes
  action:
    - service: python_scripts.lgtv

input_number:
  tv_minutes:
    name: Timer TV
    initial: 20
    min: 0
    max: 120
    step: 10
    

python_scripts:
  lgtv: 'irsend SEND_ONCE DELONGHI AC_{{ states.input_number.tv_minutes.state }}_AUTO'
